.participantsHeader {
  color: white;
  margin: 20px 0;
  margin-left: 40px;
}

.participantsContainter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.participantsContainter > * {
  width: 600px;
}
